@import url("https://raw.githubusercontent.com/12brendon34/DTM-18/refs/heads/main/dtm-18.theme.css");
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");

:root {
  --main-color: #FFD700;
  --hover-color: #e6c200;
  --success-color: #a0cc70;
  --danger-color: #c04c4c;

  --online-color: #ffd700;
  --idle-color: #e6b800;
  --dnd-color: #b84545;
  --streaming-color: #9370db;
  --offline-color: #585870;

  --background-image: url('https://raw.githubusercontent.com/12brendon34/DTM-18/refs/heads/main/LowQ_Fast.webp');
}

/*DTM-18 fixes for ClearVision*/
/* Settings / Profile / microphone section */
/*idk what it's actually called*/
.container__37e49 {
    background: rgba(0, 0, 0, 0) !important;
    color: var(--text-normal) !important;
}
/*remove the lil extra margin for the thing above*/
.sidebarList_c48ade {
    margin-bottom: 0 !important;
}

/* not sure what this did either*/
.wrapper_ef3116 {
    margin-bottom: 0 !important;
}

/* Server Info Dropdown */
.header_f37cb1 {
    background: rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid var(--hsl-main-color) !important;
}

/*Active Now Section*/
.scroller__7d20c.thin_d125d2.scrollerBase_d125d2 {
    background: hsl(from var(--hsl-card-shading) h s l / 0.4);
    border-color: var(--background-modifier-accent);
}

/*Active Now Entry*/ 
.header__00943 {
    background-color: var(--hsl-background-shading) !important;
}